.container {
    width: 710px;
    height: 230px;
    border: 1px solid black;
    margin: 200px auto;
    border-radius: 10px;
}



.esc-btn {
       position: relative;
       border: 1px solid black; 
       width: 25px;
       height: 20px;     
       border-radius: 4px;   
       display: flex;
       justify-content: center;
       align-items: center;     
       margin: 5px 0 0 10px;                                                         
}           

.back-tick-button {
       position: relative;
       border: 1px solid black; 
       width: 25px;
       height: 25px;     
       border-radius: 4px;   
       display: flex;
       justify-content: center;
       align-items: center;     
       margin: -15px 0 0 10px; 
       font-size: 20px;
       font-weight: bolder;  
}

.tab-btn {
       position: relative;
       border: 1px solid black; 
       width: 40px;
       height: 25px;     
       border-radius: 4px;   
       display: flex;
       justify-content: center;
       align-items: center;     
       margin: -20px 0 0 10px; 
       font-size: 20px;
       font-weight: bolder;  
       padding: 1px;
}
.up-arrow {
          position: relative;
       border: 1px solid black; 
       width: 35px;
       height: 25px;     
       border-radius: 4px;   
       display: flex;
       justify-content: center;
       align-items: center;     
       margin: -115px 0 0 10px; 
       font-size: 20px;
       font-weight: bolder; 
       padding: 1px;
}

.ctrl {
            position: relative;
       border: 1px solid black; 
       width: 30px;
       height: 23px;     
       border-radius: 4px;   
       display: flex;
       justify-content: center;
       align-items: center;     
      top: -55px;
      left: 10px;
       font-size: 14px;
       font-weight: bold; 
       padding: 1px;
}

.caps-lock-btn {
      position: relative;
       border: 1px solid black; 
       width: 55px;
       height: 25px;     
       border-radius: 4px;   
       display: flex;
       justify-content: center;
       align-items: center;     
   
       top: -95px;
       left: 10px;
       font-size: 10px;
      font-weight: bold;
       padding: 1px;
       white-space: nowrap;
}

.second-row-btn {
   display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 13px;
    position: relative;
    left: 50px;
    bottom: 27px;
}

.third-row-btn {
   display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 13px;
    position: relative;
    left: 66px;
    bottom: 27px;
}

.fourth-row-btn {
   display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 13px;
    position: relative;
    left: 80px;
    bottom: 125px;
}

.fifth-row-btn {
       display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 13px;
    position: relative;
    left: 55px;
  bottom: 30px;
}

.sixth-row-btn {
          display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 13px;
    position: relative;
    left: 48.6px;
  bottom: 82px;
}

.arows-btn {
         display: flex;
    flex-direction: row;
    gap: 4px;     
    font-size: 13px;
    position: relative;
    left: -1px;
  bottom: 0px;
}



.enter1 {
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}
.enter2 {
      width: 25px;
    height: 50px;
    border: 1px solid black;
    position: relative;
    left: 15px;
    bottom: 40px;
   
}

.row_3-numbers {
    position: relative;
    left: 3px;
        width: 23px;  
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.row_4-numbers {
    position: relative;
    left: 38px;
        width: 23px;  
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.row_5-numbers {
    position: relative;
    left: 1px;
        width: 23px;  
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.row_6-numbers {
    position: relative;
    left: 1px;
        width: 23px;  
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 8px;
    font-weight: bold;
   

}


.plus-btn {
      position: relative;
    left: 3px;
        width: 23px;  
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-enter {
     position: relative;
    left: 3px;
        width: 23px;  
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.enter-img {
    z-index: 10;
    position: relative;
    bottom: 5px;
    right: 5px;
   width: 20px;
   height: 15px;
}

.inside-enter {
    width: 27px;
    height: 20px;
    background-color: white;
    /* border: 1px solid black; */
    position: relative;
    bottom: 20.2px;
    left: 14px;
    z-index: 1;
}


.arrow-2 {
      border: 1px solid black;
     width: 49px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-1 {
    border: 1px solid black;
     width: 29px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space {
        border: 1px solid black;
     width: 189px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow-left-right {

    border: 1px solid black;
     width: 29px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding-left: 3px;
    align-items: center;
    font-weight: bolder;
    font-size: 12px;

}
.btn-2 {
    border: 1px solid black;
       width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.btn-3 {
    border: 1px solid black;
      width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-4 {
    border: 1px solid black;
     width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-5 {
    border: 1px solid black;
         width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-6 {
    border: 1px solid black;
         width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 10px;
}
.btn-7 {
    border: 1px solid black;
         width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-8 {
    border: 1px solid black;
         width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-9 {
    border: 1px solid black;
        width: 29px;
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-10 {
    border: 1px solid black;
        width: 29px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-11 {
    border: 1px solid black;
        width: 29px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-112 {
        border: 1px solid black;
        width: 29px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items:flex-start;
    font-size: 10px;
}
.btn-12 {
    border: 1px solid black;
        width: 29px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}
.btn-13 {
    border: 1px solid black;
        width: 59px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.btn-14 {
    border: 1px solid black;
        width: 23px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.up-arrow-btn {
        border: 1px solid black;
        width: 27px;  
    height: 12px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items:center;
    font-size: 10px;
}

.down-arrow-btn {
           border: 1px solid black;
        width: 27px;  
    height: 10px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items:center;
    font-size: 12px;
}

.zero-number-buton {
       border: 1px solid black;
        width: 55px;  
    height: 25px;
    border-radius: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.up-down-arrow-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}



.first_row-btn {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 13px;
    position: relative;
    left: 40px;
    bottom: 22px;


}

.f1-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}

.f2-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}

.f3-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}

.f4-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}
.f5-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}
.f6-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}

.f7-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}
.f8-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}
.f9-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}
.f10-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}

.f11-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}
.f12-btn {
    border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;   

}

.prtSc-btn {
      border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;  
       font-size: 10px;
}


.pause-btn {
      border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;  
       font-size: 8px;
}

.insert-dlt-btn {
      border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;  
       font-size: 8px;
}

.home-btn {
      border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;  
       font-size: 8px;
}

.PgUp-btn {
      border: 1px solid black;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
       border-radius: 4px;  
       font-size: 8px;
}